<hr class="divider-d">

<footer class="footer bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="copyright font-alt">© 2015 <a href="index.html">EventingEdge</a>, All Rights Reserved.</p>
      </div>
      <div class="col-sm-6">
        <div class="footer-social-links">
          <a href="https://www.facebook.com/EventingEdge" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
          <a href="https://instagram.com/eventingedge/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>